<%= form_with(model: program_choice, local: true) do |form| %>
  <% if program_choice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(program_choice.errors.count, "error") %> prohibited this program_choice from being saved:</h2>

      <ul>
      <% program_choice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :applicant_id %>
    <%= form.collection_select(:applicant_id, Applicant.all, :id,:to_s, id: :program_choice_applicant_id) %>
  </div>

  <div class="field">
    <%= form.label :program_id %>
    <%= form.collection_select(:program_id,Program.all, :id, :name, id: :program_choice_program_id) %>
  </div>

  <div class="field">
    <%= form.label :choice_number %>
    <%= form.number_field :choice_number, id: :program_choice_choice_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
