<%= form_with(model: placement, local: true) do |form| %>
  <% if placement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(placement.errors.count, "error") %> prohibited this placement from being saved:</h2>

      <ul>
      <% placement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :applicant_id %>
    <%= form.collection_select :applicant_id, Applicant.all, :id, :to_s, id: :placement_applicant_id %>
  </div>

  <div class="field">
    <%= form.label :program_id %>
    <%= form.collection_select :program_id,Program.all, :id, :name, id: :placement_program_id %>
  </div>

  <div class="field">
    <%= form.label :university_id %>
    <%= form.collection_select :university_id, University.all, :id, :name, id: :placement_university_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
