<h3>Placed List</h3><br/>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Sno</th>
      <th>Applicant</th>
      <th>Email</th>
      <th>Program</th>
      <th>University</th>
      <th>Result</th>
    </tr>
  </thead>

  <tbody>
    <% count  = 0 %>
    <% @placements.each do |placement| %>
    <% count  += 1%>
      <tr>

        <td><%= count %></td>
        <td><%= placement.applicant %></td>
        <td><%= placement.applicant.email %></td>
        <td><%= placement.program %></td>
        <td><%= placement.university %></td>
        <td><%= placement.applicant.exam.exam_results.find_by_program_id(placement.program_id).total_result %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/><br/><br/>
<hr/>
<br/><br/><br/>
<h3>Unplaced List</h3><br/>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Sno</th>
      <th>Applicant</th>
      <th>Email</th>
      <th>Result</th>
    </tr>
  </thead>

  <tbody>
    <% count  = 0 %>
    <% @unplaced.each do |applicant| %>
    <% count  += 1%>
      <tr>

        <td><%= count %></td>
        <td><%= applicant %></td>
        <td><%= applicant.email %></td>
        <td>
         <table>
                <tr>
                 <% applicant.program_choices.each do |pc| %>
                 <td><%= pc.program %></td>
                 <% end %>
           	</tr>
                 <tr>
                  <% applicant.program_choices.each do |pc| %>
  	          <td><%= applicant.total_result(pc.program_id) %></td>
                  <% end %>
                </tr>
         </table>
         </td>
      </tr>
    <% end %>
  </tbody>
</table>

